body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}



ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
 list-style: none;
 padding: 0;
 margin: 0;
}

p {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding:0 16px;
  margin: 0 auto;
}




.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0px;
}

.nav-list {
  display: none;
}

.logo_white {
  color: var(--NAVY-BLUE, #2e2f42);
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 72px 24px 40px 16px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color:#E7E9FC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover, .menu-close-btn:focus {
background-color: #404BBF; 
border: none;
}
.menu-close-btn:hover > .icon-close-black-menu, .menu-close-btn:focus > .icon-close-black-menu {
  fill: #FFFFFF;
}

.mob-nav-link {
  color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-adress {
  display: block;
}

.mob-nav-list {
display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link:hover, .mob.mob-nav-link:focus {
  color: var(--OCEAN, #404BBF);
}

.current {
}

.mob-contacts {
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  align-items: start;
  margin-bottom: 48px;
  margin-left: auto;
}

.mob-section-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.mob-contacts-link {
font-family: var(--font-family);
font-family: Roboto;
font-weight: 500;
font-size: 20px;
line-height: 1.2%;
letter-spacing: 0.02em;
color: var(--iris);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-link:hover, .mob-contacts-link:focus {
  color: var(--IRIS, #4D5AE5);

}

.mob-navigation {
}

.mob-emblem {
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-emblem:hover {
  background-color: #404bbf;
}

.mob-emblem:focus {
  background-color: #404bbf;
}

.mob-social-emblem {
  width: 40px;
  height: 40px;
}


.title {
  padding: 72px 0 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),url(../images/phone-main-foto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 432px;
  width: 100%;
  display: block;
}

.title-name {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  min-width: 288px;
}




@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),url(../images/phone-main-foto-x2.jpeg);
  }
}



.order-button {
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px; 
  display: block;
  margin: auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.differences {
  padding: 96px 0 96px;
}

.differences-container {
  display: flex; 
  justify-content: center;
 align-items: center;
}

.benefits-list {
  display: flex; 
  flex-direction: column;
  gap: 72px; 
  align-items: center;
}

.icons-second-section {
  display: none;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
  background: var(--CLOUD, #F4F4FD);
  gap: 24px;
  margin-bottom: 8px; 
}

.benefits-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.benefits-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-container {
  padding: 0 28px ;
}

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-background {
  background-color: #ffffff;
  /* width: calc((100% - 3 * 24px) / 4); */
  /* border-radius: 0px 0px 4px 4px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.container-proff-list{
  padding: 32px 0 32px;
}

.icon-emblem-styles {
  fill: #f4f4fd;
}

.third-section-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-emblem {
  width: 40px;
  height: 40px;
}

.emblem {
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emblem:hover {
  background-color: #404bbf;
}

.emblem:focus {
  background-color: #404bbf;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

.team-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px; 
}

.team-names {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-prof {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio {
  padding: 96px 0 96px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap; 
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.container-app-list {
  padding: 32px 16px;
  border: 1px solid var(--CLOUD, #F4F4FD);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: var(--WHITE, #FFF);
  border-top: none;
}

.hoover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%; 
  color: var(--CLOUD, #F4F4FD);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
width: 100%;
height: 300px;
flex-shrink: 0;
background: var(--IRIS, #4D5AE5);
transform: translateY(100%); 
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hoover-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hoover-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hoover-portfolio:hover .hoover-text {
  transform: translateY(0%);
}

.alternative-text {
  position: relative;
  overflow: hidden;
}

.portfolio-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 97px 0 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-container-logo {
    display: flex;
    margin-bottom: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px; 
}

.footer-soc-text {
  color: var(--WHITE, #FFF);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
color: #FFFFFF;
margin-bottom: 16px;
}

.footer-soc-icon {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon:hover {
background-color: #31d0aa; 
}

.footer-soc-icon:focus {
background-color: #31d0aa;
}

.icon-footer-styles {
fill: #f4f4fd;
}

.footer-text {
color: var(--CLOUD, #f4f4fd);
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  }


  .footer-soc-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
  }

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-left: 0;
  }


.footer-lable {
  gap: 24px;
}

.input-footer {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.input-footer::placeholder {
  color: #ffffff;
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover {
background: var(--OCEAN, #404BBF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-subscribe:focus{
background: var(--OCEAN, #404BBF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.icon-footer {
  margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 16px 16px 16px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background-color: #E7E9FC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
background-color: #404BBF; 
border: none;
}

.modal-close-btn:hover > .icon-close-black, .modal-close-btn:focus > .icon-close-black {
  fill: #FFFFFF;
}

.p-modal {
  color: var(--NAVY-BLUE, #2E2F42);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.label-modal {
  color: var(--LIGHT-SLATE, #8E8F99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  display: block;
  margin-bottom: 4px;
}

.icon-modal {
  position: relative;
}

.input-modal {
  width: 100%;
  height: 40px;border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));  
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus + .input-icon {
   fill: #4D5AE5; 
}

.modal-comment-form {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.check-modal {
  margin-bottom: 24px;
}

.checkbox-modal:checked + .modal-privacy .span-modal {
  background-color: #404BBF;
  border: none;
  fill: #f4f4fd;
}

.modal-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.span-modal {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-link {
  color: #4d5ae5;
  text-decoration: underline;
  margin-left: 19px;
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  border-radius: 4px;
  background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 50%;
  transform: translateX(-50%);
}

.button-send:hover {
background: var(--OCEAN, #404BBF);
}

.button-subscribe:focus{
background: var(--OCEAN, #404BBF);
}

.user-comment-modal {
color: var(--LIGHT-SLATE, #8E8F99);
}