


/* стилі для планшета */
@media screen and (min-width:768px) {

.container {
    max-width: 768px;
  }


  .open-menu-btn {
    display: none;
  }

  .address {
    display: block;
  }

  .logo {
    margin-right: 120px;
  }

    .nav-list {
    display: flex;
    gap: 40px;
  }


  .nav-link {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.current {
 position: relative;
 color: #404BBF;
}

.current::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background: #404BBF;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
  .address {
    display: block;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: var(--OCEAN, #404bbf);
}

.contacts-link:focus {
  color: var(--OCEAN, #404bbf);
}

.title {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),url(../images/dark-bg-tablet.jpeg);
  padding: 112px 0 112px; 
  height: 436px;
}

.title-name {
        color: var(--WHITE, #fff);
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: auto;
        max-width: 496px;
    } 

.order-button {
 margin-top: 36px;
}


.benefits-name {
    font-size: 36px;
    justify-content: normal;
}

.differences-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.benefits-item {
  width: calc(50% - 12px); 
}


.benefits-list {
flex-direction: row;
flex-wrap: wrap;
gap: 24px;
}


.team-list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}


.benefits-text {
    font-weight: 500;
}

.team-container {
  padding: 0 108px;
}

.portfolio-list {
    align-items: center;
    gap: 24px;
    row-gap: 72px;
}

.portfolio-img {
    width: 356px;
    height: 300px;
}


.modal {
  width:408px;
  min-height: 584px ;
}

.modal-link {
    margin-left: 2px;
}

.footer-container-logo {
    display: flex;
    margin-bottom: 72px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 72px;
    margin-right: 24px;
}

.name-footer-logo {
    margin-bottom: 16px;
    margin-left: 0; 
    transform: none;
}

  .footer-soc-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0;
}




.form-subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.footer-subscribe {
  align-items: flex-start;
}

.footer-subscribe-text {
  margin-left: 0;
}

.input-footer {
  width: 264px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
opacity: 0.3;
}

.footer-soc-text {
  margin-left: 0;
  margin-top: 0;
  transform: none;
}



}




/* Стилі для десктопу */
@media screen and (min-width:1158px) and (min-resolution:192dpi) {
    .title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main-foto-x2.jpeg);
    }


@media screen and (min-width:1158px) {

 .container {
    max-width: 1158px;
    padding: 0 15px;
  }

.logo {
  margin-right: 76px;
}

.contacts {
  flex-direction: row;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
}


.title {
    padding: 188px 0 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),url(../images/main-foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
}

.differences-container {
    display: flex;
    align-items: center;
}

.benefits-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.title-name {
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: auto;
}

.button {
    color: var(--WHITE, #fff);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item {
    flex-basis: calc((100% - 3 * 24px));
}

.benefits-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.icons-second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    gap: 24px;
    margin-bottom: 8px;
}

.benefits-name {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

footer {
    background: var(--NAVY-BLUE, #2e2f42);
    padding: 100px 0 100px;
}

.name-footer-logo {
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
/* .footer-container-logo {
    margin-right: 100px;
    margin-top: 30px; */
}


.footer-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-text {
  margin-left: 70px;
}

.footer-soc-text {
  margin-left: 0px;
}

.form-subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-left: 0;
}

.footer-subscribe {
    margin-left: 80px;
    margin-right: 0;
}

.footer-subscribe-text {
  margin-left: 0;
  margin-top: 0;
}
.input-footer {
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 2.0;
letter-spacing: 0.04em;
color: var(--white);
}

.modal {
  padding: 72px 24px 24px 24px;
}


}


